/*  */

.scroll-bar-thin {
    /* --primary: 165deg 82% 44%; */
    /* --muted: 0deg 0% 10%; */
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--primary)) hsl(var(--muted));
}
.scroll-bar {
    /* --primary: 165deg 82% 44%; */
    /* --muted: 0deg 0% 10%; */
    --sb-width: 10px;
    --sb-height: 10px;
    --sb-track-border: 10px;
    --sb-track-thumb: 10px;
    overflow: auto;
}
.scroll-bar::-webkit-scrollbar {
    width: var(--sb-width);
    height: var(--sb-height);
}

.scroll-bar::-webkit-scrollbar-track {
    background-color: hsl(var(--muted));
    border-radius: var(--sb-track-border);
}

.scroll-bar::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary));
    border-radius: var(--sb-track-thumb);
}


.scroll-bar::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--primary)/ 0.8);
}
.scroll-bar::-webkit-scrollbar-thumb:active {
    background-color: hsl(var(--primary)/ 0.5);
}
@supports not selector(::-webkit-scrollbar) {
    /* for firefox */
    .scroll-bar {
        scrollbar-width: thin;
        scrollbar-color: hsl(var(--primary)) hsl(var(--muted));
    }
}