
/* //main */
main {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
  }
  
  .left {
    background-color: #444;
  }
  .left ul {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
  }
  .left ul li{
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"] {
    width: 4rem;
  }
  
  
  /* code */
  .code {
    margin: 1rem 0;
  }
  .code pre {
    background-color: #222;
    padding: 0;
    height: 0;
    overflow: hidden;
  }
  .code pre {
    background-color: #222;
    padding: 1rem;
    height: 7rem;
  }
  
  .right {
    height: 100%;
    min-height: 400px;
    background-color: #eee;
    display: grid;
    place-content: center;
  }