@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
    :root {
        color-scheme: light;
        --foreground-rgb: 0, 0, 0;
        --background-start-rgb: 214, 219, 220;
        --background-end-rgb: 255, 255, 255;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}



.scroll-bar {
    --sb-thumb-color: #fefefe;
    --sb-track-color: #444444;
    --sb-width: 10px;
    --sb-track-border: 3px;
    --sb-track-thumb: 3px;
    --sb-width-type: thin;

    /* direction: rtl; */
    overflow-y: auto;
    
}


@supports (scrollbar-width: auto) {
    .scroll-bar {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
        scrollbar-width: var(--sb-width-type);
    }
}

/* none firefox */
@supports selector(::-webkit-scrollbar) {
    .scroll-bar::-webkit-scrollbar {
        width: var(--sb-width);
    }
    
    .scroll-bar::-webkit-scrollbar-track {
        background: var(--sb-track-color);
        border-radius: var(--sb-track-border);
    }
    
    .scroll-bar::-webkit-scrollbar-thumb {
        background: var(--sb-thumb-color);
        border-radius: var(--sb-track-thumb);
    }
    /* .scroll-bar::-webkit-scrollbar-thumb:hover {
    } */
}